<div class="register-container">
  <h2>Cadastro de Usuário</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Nome de Usuário:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="password">Senha:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <div class="form-group">
      <label for="role">Perfil:</label>
      <select id="role" [(ngModel)]="role" name="role" required>
        <option value="USER">Usuário</option>
        <option value="ADMIN">Administrador</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
  <p>Já tem uma conta? <a routerLink="/login">Faça login</a></p>
</div>
